header .avatar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza a imagem dentro do avatar-container */
    margin-right: 15px;
}

header .avatar-container img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10px; /* Mantém o espaço entre a imagem e a seta */
}

header .avatar {
    display: flex;
    height: 50px;
    width: 50px;
    color: #ffffff;
    margin-right: 10px;
    cursor: pointer;
}

header .arrow {
    height: 24px;
    width: 24px;
    color: #ffffff;
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Estilos existentes */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px);
}

.profile-container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-container .form-group {
    margin-bottom: 15px;
}

.profile-container .form-group label {
    display: block;
    color: #ADD8E6;
    font-size: 16px;
    margin-bottom: 5px;
}

.profile-container .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #48456C;
    border-radius: 30px;
}

.profile-container .delete-button {
    width: 100%;
    max-width: 400px;
    color: #ffffff;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 20px;
    background-color: #e74c3c;
    cursor: pointer;
}

.profile-container .delete-button:hover {
    opacity: 0.8;
}

.profile-container .error {
    color: #e74c3c; 
    margin-bottom: 10px;
}

.profile-container .success {
    color: #2ecc71;
    margin-bottom: 10px;
}